<ion-toolbar>
  <ion-title slot="start">{{ titulo }}</ion-title>
  <ion-buttons slot="end">
    <!-- Puedes poner botones aquí si los necesitas -->
  </ion-buttons>
</ion-toolbar>

<!-- Swiper container -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let image of images; trackBy: trackImage">
      <img [src]="image" alt="Imagen Slide" />
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev" (click)="goPrev()"></div>
  <div class="swiper-button-next" (click)="goNext()"></div>
  <div class="swiper-scrollbar"></div>
</div>
