<ion-card>
  <ion-card-header>
    <ion-card-title>{{ titulo }}</ion-card-title>
    <ion-card-subtitle>{{ subtitulo }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      @for (location of locations; track location.id) {
        <ion-item>
          <ion-label (click)="verLocation(location.id)">
            {{ location.name }} - {{ location.type }} - {{ location.dimension }}
          </ion-label>
        </ion-item>

        <ion-accordion-group>
          <ion-accordion value="residents">
            <ion-item slot="header" color="light">
              <ion-icon name="people" color="primary" slot="start"></ion-icon>
              <ion-label><strong>Habitantes</strong></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <app-personaje-list
              [personajes]="location.residents"
              [titulo]="titulo1 + ' ' + location.name"
              [subtitulo]="subtitulo1"
            >
            </app-personaje-list>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      }
    </ion-list>
  </ion-card-content>
</ion-card>
