<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Personajes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personajes</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Personajes page"></app-explore-container>


  <app-personaje-list 
  [personajes]="personajes" 
  [titulo]="titulo1" 
  [subtitulo]="subtitulo1"
  [id_episodio]="'E1'"></app-personaje-list>


  @if (!completado){
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingText="Espere por Favor..."
      loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  }

</ion-content>