<!--
<ion-header [translucent]="true">
 <ion-toolbar>
   <ion-title>mapa</ion-title>
 </ion-toolbar>
</ion-header>
-->


<ion-content [fullscreen]="true">
  <!--
   <ion-header collapse="condense">
     <ion-toolbar>
       <ion-title size="large">mapa</ion-title>
     </ion-toolbar>
   </ion-header>
  -->
   <h1>Mapa</h1>
  
  
   <div id='map'></div>
    <!--
   <ion-back-button defaultHref="/tabs/tab5"
                    text=" "
                    class="boton-regresar"
                    icon="close-circle"></ion-back-button>
   -->
                   
  </ion-content>
  
  
  
  
  